# dependencies
node_modules/

# env files
.env
.env.*

# Docker configurations
Dockerfile
Dockerfile.*
.dockerignore

# logs
logs
*.log

# build
dist/
build/

# certificates and keys
*.key
*.pem
*.cert

# OS files
.DS_Store